{% extends "base.html" %}
{% block conteudo %}

	<div class="col-md-9 col-sm-9" style="width: 100%;">
		<div class="table-responsive">
			<table class="table">
		    <thead>
		      <tr style="color: #046350;">
		      	 <th>Nome</th>
                  <th>Data de Criação</th>
                  <th>Sigla</th>
		       </tr>

		      </thead>
		        <tbody>

		       <tr>
                   <td>{{ item.nome|upper }}</td>
                   <td>{{ item.data_criacao|upper }}</td>
                   <td>{{ item.sigla|upper }}</td>

		      </tr>

		    </tbody>
		  </table>
		</div>
	</div>



{% endblock %}