{% extends 'base.html' %}
{% block conteudo %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Início</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
<script language="JavaScript"> 
function pergunta(){ 
   if (confirm('Nome Fanatsia - {{api.nome}}; Cidade -{{api.municipio}} ')){ 
      document.seuformulario.submit() 
   } 
}

</script> 
<script type="text/javascript">
	function persiste(){
		var xhttp = new XMLHttpRequest();
    var cnpjs = document.getElementById("id_cnpj");
    var Fanatsia = document.getElementById("id_fantasia");
    var atv_main = document.getElementById("id_atividade_principal");
    var cap_social = document.getElementById("id_capital_social");
    var dta_situacao = document.getElementById("id_data_situacao");
    var uf = document.getElementById("id_uf");
    var natureza_j = document.getElementById("id_natureza_juridica");
    var open = document.getElementById("id_abertura");
    var situation = document.getElementById("id_situacao");
    var e_mail = document.getElementById("id_email");
    var telphone = document.getElementById("id_telefone");
    var bairr = document.getElementById("id_bairro");
    var city = document.getElementById("id_cidade");
  	xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       // document.getElementById("demo").innerHTML = JSON.parse(this.response).fantasia;
       document.getElementById("demo").innerHTML = JSON.parse(this.response).municipio;
       Fanatsia.value = JSON.parse(this.response).fantasia;
        atv_main.value = JSON.parse(this.response).atividade_principal[0]['text'];
        cap_social.value = JSON.parse(this.response).capital_social;
        dta_situacao.value = JSON.parse(this.response).data_situacao;
        uf.value = JSON.parse(this.response).uf
        natureza_j.value = JSON.parse(this.response).natureza_juridica;
        open.value = JSON.parse(this.response).abertura;
        situation.value = JSON.parse(this.response).situacao;
        e_mail.value = JSON.parse(this.response).email;
        telphone.value = JSON.parse(this.response).telefone;
        bairr.value = JSON.parse(this.response).bairro;
        city.value = JSON.parse(this.response).municipio;
       confirm(JSON.parse(this.response).fantasia);

    }
  };
  xhttp.open("GET", "https://www.receitaws.com.br/v1/cnpj/"+cnpjs.value, true);
  xhttp.send();
}
</script>
<script type="text/javascript">
  
</script>

<div class="container">
	<div class="col-md-12">
		<form name=seuformulario action="" method="post" >
			{% csrf_token %}
			<div class="form-group">
        {{form.as_p}}
        <input class="btn btn-success" type=button onclick="persiste()" value="Verificar cadastro" > </div>
				 <!-- <div class="col-md-6 ">CNPJ <input class="form-control" type="text" name="cnpj" id="id_cnpj">
					<div class="col-md-12" align="center">
					<input class="btn btn-success" type=button onclick="persiste()" value="Verificar cadastro" > </div>
				</div> -->
        <!--<div class="col-md-12">Fantasia <input class="form-control" type="text" name="fantasia" required id="id_fantasia" maxlength="300" /></div>
        <div class="col-md-12">Atividade principal  <input class="form-control" type="text" name="atividade_principal" required id="id_atividade_principal" maxlength="150" /></div>
        <div class="col-md-12">Capital Social <input type="text" class="form-control" name="capital_social" id="id_capital_social" disabled></div> -->
				<!-- <div class="col-md-12">Fantasia <input type="text" class="form-control" name="fantasia" id="id_fantasia" disabled> </div>
				<div class="col-md-12">Atividade Principal <input type="text" class="form-control" name="atividade_principal" id="id_atividade_principal" disabled> </div>
				<div class="col-md-12">Capital Social <input type="text" class="form-control" name="capital_social" id="id_capital_social" disabled> </div>
				<div class="col-md-12">Data Situação <input type="text" class="form-control" name="data_situacao_especial" id="id_data_situacao_especial" disabled> </div>
				<div class="col-md-12">UF <input type="text" class="form-control" name="uf" id="id_uf" disabled> </div>
				<div class="col-md-12">Natureza Jurídica <input type="text" class="form-control" name="natureza_juridica" id="id_natureza_juridica" disabled> </div>
				<div class="col-md-12">Abertura <input type="text" class="form-control" name="uf" id="id_abertura" disabled> </div>
				<div class="col-md-12">Situação <input type="text" class="form-control" name="situação" id="id_situacao" disabled> </div>
				<div class="col-md-12">E-mail <input type="text" class="form-control" name="email" id="id_email" disabled> </div>
				<div class="col-md-12">Telefone <input type="text" class="form-control" name="telefone" id="id_telefone" disabled> </div>
				<div class="col-md-12">Cidade <input type="text" class="form-control" name="cidade" id="id_cidade" disabled> </div>
				<div class="col-md-12">Bairro <input type="text" class="form-control" name="bairro" id="id_bairro" disabled> </div> -->
			</div>	
			<p id="demo"></p>
		</div>
		<div class="col-md-12" align="center">
			<button type="submit" class="btn btn-info">Salvar o Registro</button>
		</div>
				
	</form>

</div>

{% endblock %}