{% extends "base.html" %}
{% block conteudo %}


	<div class="col-md-9 col-sm-9" style="width: 100%;">
		<div class="table-responsive">
			<table class="table">
		    <thead>
		      <tr style="color: #046350;">
		      	 <th>Nome</th>
		         <th>Código</th>
		         <th>Ativo</th>
		         <th>Data criação</th>

		       </tr>

		      </thead>
		        <tbody>

		       <tr>
                   <td>{{ item.nome|upper }}</td>
		        <td>{{ item.codigo|upper }}</td>

		        <td>{% if item.ativo %}SIM{% else %}NÃO{% endif %}</td>
		        <td>{{ item.data_criacao }}</td>

		      </tr>

		    </tbody>
		  </table>
		</div>
	</div>



{% endblock %}