{% extends "base.html" %}
{% block conteudo %}
	<h1>{{item.fantasia}} </h1>
	<!-- <div class="pull-right"><a href="/CriaCliente/"><i class="material-icons">&#xe7f0;</i></a>
		<a href="/Edita_Cliente/{{item.id}}/" title="Editar Cliente"><i class="material-icons">&#xE869;</i></a>
	</div> -->
	<div class="col-md-9 col-sm-9">
		<span> Com a natureza jurídica {{item.natureza_juridica}}</span>
	</div>
	<div class="col-md-9 col-sm-9" style="width: 100%;">
		<div class="table-responsive">
			<table class="table">
		    <thead>
		      <tr style="color: #046350;">
		      	 <th>Nome</th>
		         <th>UF</th>
		         <th>Data Criação</th>
		         <th>Ativo</th>
		       </tr>

		      </thead>
		        <tbody>

		       <tr>
		    		<td>{{ item.nome|upper }}</td>
		        <td>{{ item.uf|upper }}</td>
		        <td>{{ item.data_criacao|upper }}</td>
		        <td>{{ item.ativo|upper }}</td>


		      </tr>

		    </tbody>
		  </table>
		</div>
	</div>
	<div class="col-sm-6 col-md-6">
  	<blockquote>{{item.observacoes}}</blockquote>
	</div>


{% endblock %}